extends _layout

block content
    <div class="homepage">
        <div class="big-logo"></div>
        <h1>About Busybee</h1>

        <p>Busybee is a Kanban-inspired task organisation tool created by Jergus Lejko and Rafael d'Arce.</p>
        <p>Register your own account and log in to use.</p>
        <p>You can create different boards for different types of goals.</p>
        <p>Drap-and-drop tasks and columns to organise your life the way you want!</p>
        <p>Set a deadline for a task and we'll remind you about it when you login.</p>

    </div>
