extends _layout

block content
    <div class="homepage">
        <h1>About</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet nesciunt odit cupiditate laboriosam ea! Quam amet doloremque quos eveniet laborum veniam harum, eos cumque. Excepturi expedita asperiores in obcaecati illo?</p>
    </div>
