extends _layout

block content
    <div class="homepage">
        <h1>Hey, #{signedIn.username}</h1>

        <h2>Your boards:</h2>

        <div>
            for board in boards
                <a href="/boards/#{board.id}" class="homepage-board">#{board.title}</a>
        </div>
    </div>
