extends _layout

block content
    <div class="homepage">

        <h1>Login to Busybee</h1>

        if error
          <div class="validation-error">#{error}</div>

        <form method="post" action="/login">
            <label class="form-field">
                <p>Username:</p>
                <input type="text" name="username" placeholder="Your username" />
            </label>

            <label class="form-field">
                <p>Password:</p>
                <input type="password" name="password" placeholder="Your password" />
            </label>

            <button type="submit">Log in</button>
            <br><br>
            <b><a class="registerlink" href="/register">Not got an account? Register here!</a></b>
            <div class="big-logo" style="float:none></div>

        </form>
    </div>
