extends _layout

block content
    <div class="homepage">
        <h1>Registration</h1>

        if error
          <div class="validation-error">#{error}</div>

        <form method="post" action="/register">
            <label class="form-field">
                <span>Username:</span>
                <input type="text" name="username" placeholder="Your username" />
            </label>

            <label class="form-field">
                <span>Password:</span>
                <input type="password" name="password" placeholder="Your password" />
            </label>

            <label class="form-field">
                <span>Password again:</span>
                <input type="password" name="password_confirmation" placeholder="Password confirmation" />
            </label>

            <button type="submit">Register</button>
        </form>
    </div>
