body {
    background-image: url('/image/background.png');
    background-size: cover;
    background-attachment: fixed;
    font-family: "Lucida Console", Monaco, monospace;
    margin: 0px;
}
.logo {
    display: block;
    width: 1.15em;
    height: 1.15em;
    background: url('/image/logo.svg') no-repeat center;
    background-size: 2em 2em;
}
.text-right {
    text-align: right;
}
.tilt.right {
    transform: rotate(3deg);
}
.tilt.left {
    transform: rotate(-3deg);
}
.column {
    width: 300px;
    float: left;
    padding-bottom: 10px;
}

.column-portlet {
    float: left;
    margin: 1em 1em 1em 1em;

}
.portlet {
    margin: 1em 1em 1em 1em;
    padding: 0.5em;

}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(47, 26, 56);
    overflow: hidden;
}
.boardback{
    background: #000;
}
h1 h2 h5 .nava{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    

}
p{
    font-size: 1.5em;

}
h4, a {
    font-family: "Lucida Console", Monaco, monospace;
}
/* Style the links inside the navigation bar */
.topnav a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;

    color: #fff;
}

/* Add an active class to highlight the current page */
.active {
    background-color: rgb(126, 29, 95);
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 25px;
    border: none;
    outline: none;
    padding: 14px 16px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    background-color: rgb(47, 26, 56);
}

.board {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1em;

}

.board-title {
    background-color: rgb(73, 21, 78);
    margin: 0px;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-title h1 {
    color: #fff;
    font-weight: bold;
}
/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(81, 45, 97);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover,
.dropdown:hover,
.dropbtn:hover,
.dropdown-content a:hover, .hvr:hover {
    background-color: rgb(133, 88, 127);
    color: white;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 0px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.close-modal {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

​ .close-modal {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: #000;
    text-decoration: none;
}
.hvr-btn:hover,
.hvr-btn:focus,
button:hover,
button:focus {
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: rgba(0, 0, 127, 0.5);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.05);
    color: white;
}
.modal-footer button {
    margin-left: 1em;
}

.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.ml-20 {
    margin-left: 20px;
}
.p-05 {
    padding: 0.5em;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    color : rgb(0, 0, 0);
    text-shadow: 1px 1px rgb(255, 255, 255);
}

.form-field {
    display: block;
    margin: 1em 0;
}
.form-field p {
    font-weight: 600;
    font-size: 13px;
    margin: 0 0 0.5em 0;
}
.form-field input,
.form-field textarea {
    width: 100%;
    border: 1px solid rgba(0, 20, 0, 0.1);
    padding: 5px;
    border-radius: 2px;
}

button {
    padding: 5px 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: white;
}
button:hover {
    box-shadow: 0 0 4px rgba(0, 0, 255, 0.2);
}
.nava{
    font-weight: bold;
}

.homepage {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    min-width: 800px;
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
    color: white;

}

.homepage-board {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: rgb(47, 26, 56);
    padding: 1em;
    border-radius: 1em;
    margin: 0.5em 0;
}

.homepage-task {
    display: block;
    text-decoration: none;
    color: white;
    background: rgb(47, 26, 56);
    padding: 1em;
    border-radius: 1em;
    margin: 0.5em 0;
}

.homepage-deadline {
    color: rgb(143, 143, 143);
    font-size: 0.9em;
    font-weight: 600;
}

.homepage-call {
    text-align: center;
    font-weight: bold;
}

.validation-error {
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid rgba(255, 0, 0, 0.6);
    background: rgba(255, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
