extends ../_layout

block content
    <h1>#{board.title}</h1>
    <div class="row">
    for record in grid
        - var col = record[0]
        - var tasks = record[1]
            <div class="column-portlet">
                <h3>#{col.title}</h3>
                <div class="column">
                    for task in tasks
                        <div class="portlet">
                            <div class="portlet-header">#{task.body}</div>
                            <div class="portlet-content">Hello World</div>
                        </div>
                </div>
            </div>
    </div>