extends ../_layout

block content
    <h1>#{board.title}</h1>
    <div class="row">
    for record, i in grid
        - var col = record[0]
        - var tasks = record[1]
            <div class="column-portlet" id= "col" + i>
                <h3>#{col.title}</h3>
                <button class="open-modal">Edit</button>
                <button class="open-modal">New</button>
                <div class="column">
                    for task, j in tasks
                        <div class="portlet" id= "task" + i + j>
                            <h4>#{task.body}</h4>
                            <button class="open-modal">Edit</button>
                        </div>
                </div>
            </div>
    <button class="open-modal">New</button>            
    </div>
    



    <div id="modal" class="modal">
        <div class="modal-content">
            
            <div class="modal-header">
                <span class="close-modal">&times;</span>
                <h2>Title</h2>
            </div>
            <div class="modal-body">
                <label for="colname">Name:</label>
                <input type="text" id="name" name="name"><br><br>
            </div>
            <div class="modal-footer">
                <button class="submit-modal">Submit</button>
            </div>
        </div>
    </div>
